.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}


/* -------- header -------- */
.header{
position: absolute;
width: 1440px;
height: 134px;
left: 0px;
top: 0px;

background: #EDF2EC;
}

.wrapper{}
.header-wrapper{}


.logo{
position: absolute;
width: 20px;
height: 20px;
left: 111px;
top: 52px;
}

.navbar{
position: absolute;
width: 452px;
height: 50px;
left: 879px;
top: 42px;
}

.nav-link{}



/* -------- welcome -------- */
.welcome{
position: absolute;
width: 1440px;
height: 532px;
left: 0px;
top: 134px;

background: #EDF2EC;
}

.welcome-wrap {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    max-width: 690px;
    width: 100%;
    padding-bottom: 60px;
}

.welcome-image{
    position: absolute;
    width: 448.8px;
    height: 407.36px;
    left: 109px;
    top: 62px;
}


.welcome-content{
position: absolute;
width: 549px;
height: 340px;
left: 782px;
top: 98px;
}

/* BTN LEARN MORE */
.welcome-btn{
position: absolute;
width: 158px;
height: 44px;
left: 782px;
top: 394px;
}


/* -------- about -------- */
.about{}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 605px;
    padding-left: 10px;
}
.about-image {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}


/* -------- services -------- */

.services{}
.services-wrap{}
.services-content{}
.buttons-wrap{}

.wrap-card{}
.card{}
.title-desc{}
.title-card{}
.disc-card{}



/* -------- prices -------- */
.prices{}
.prices-wrap{}
.prices-tarif{}
.prices-title{}

.accordeon{}
.accordeon-wrap{}
.accordeon-item{}
.accordeon-item-title{}

.accordeon-item-button{}

.prices-contact{}


/* -------- contacts -------- */
.contacts{}
.ontacts-wrap{}
.city-list-wrap{}
.city-list-elements{}
.city-list-item{}
.city-btn{}
.city-list-open{}

/*city-list-city*/
.city-list-city{}
.contact-info{}
.contact-info-wrap{}
.contact-info-item{}
.contact-info-item-name{}
.contact-info-item-prop{}

.contact-info-button{}


/* -------- footer -------- */
.main-footer{
position: absolute;
width: 1440px;
height: 130px;
left: 0px;
top: 3740px;

background: #FFFFFF;
}

.footer-wrap{}
.footer-content{}
.github{}
.footer-school{}
.name-school{}

.social-media{}
.social-media-list{}
.ocial-media-item{}

